@model System.Collections.Generic.List<Data.Models.SalesOrders>

<table class="table">
    <thead>
    <tr>
        <th>Date </th>
        <th>Order # </th>

        <th>Customer Name</th>
        <th>Total</th>
        <th>Amount Paid</th>
        <th>Status</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var i in Model)
    {
        <tr>
            <td>@i.DateCreated</td>
            <td>@i.OrderNumber</td>
            <td>@i.CustomerName</td>
            <td>@i.SalesOrderDetails?.Sum(x => x.SubTotal)?.ToString("n2")</td>
            <td>@i.AmountPaid?.ToString("n2")</td>
            <td>@i.Status</td>
        </tr>
    }
    </tbody>
</table>