<div class="sidebar-wrapper" id="sidebar-wrapper">
    <ul class="nav">

        <li class="@ViewContext.IsMenuActive("Index","SalesOrder")">
            <a href="@Url.Action("Index","SalesOrder")">
                <i class="now-ui-icons users_single-02"></i>
                <p>Sales Order</p>
            </a>
        </li>
        <li class="@ViewContext.IsMenuActive("Index","Cheques")">
            <a href="@Url.Action("Index","Cheques")">
                <i class="now-ui-icons users_single-02"></i>
                <p>Cheques</p>
            </a>
        </li>
     

        <li>
            <a data-toggle="collapse" href="#reports-nav" class="collapsed" aria-expanded="false">
                <i class="now-ui-icons education_atom"></i>
                <p>
                    Reports <b class="caret"></b>
                </p>
            </a>
            <div class="collapse @ViewContext.IsTreeColapse("Reports")" id="reports-nav" style="">
                <ul class="nav">
                    <li class="@ViewContext.IsMenuActive("Cheques","Reports")">
                        <a href="@Url.Action("Cheques","Reports")">
                            <i class="now-ui-icons users_single-02"></i>
                            <p>Cheques</p>
                        </a>
                    </li>
                    <li class="@ViewContext.IsMenuActive("UnsettledOrders","Reports")">
                        <a href="@Url.Action("UnsettledOrders","Reports")">
                            <i class="now-ui-icons users_single-02"></i>
                            <p>Unsettled Orders</p>
                        </a>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
</div>