@model System.Collections.Generic.List<Data.Models.SalesOrderDetails>

<table class="table">
    <thead>
        <tr>
            @if (Model.FirstOrDefault()?.SalesOrder.Status != "Tendered Transaction")
            {
                <th># <a href="#" onclick="showAddEditModal('', '@ViewData["orderId"]')">New</a></th>
            }

            <th>Order # </th>
            <th>Product Name</th>
            <th>QTY</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var i in Model)
        {
            <tr>
                @if (i.SalesOrder.Status != "Tendered Transaction")
                {
                    <td>

                        <a href="#" onclick="showAddEditModal('@i.Id', '@ViewData["orderId"]')">Edit</a>
                        <a href="@Url.Action("DeleteSalesOrderGridPartial", "SalesOrder", new {orderId = i.SalesOrderId,saledOrderDetailId=i.Id})">Delete</a>


                    </td>
                }
                <td>@i.Sku</td>
                <td>@i.ProductName</td>
                <td>@i.Qty?.ToString("n2")</td>
                <td>@i.SubTotal?.ToString("n2")</td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <th colspan="4" class="text-right">Total</th>
            <th>@Model.Sum(x => x.SubTotal)?.ToString("n2")</th>
        </tr>
    </tfoot>
</table>



<div id="add-edit-order-detail-modal"></div>
<script>

    function showAddEditModal(salesOrderDetailId, orderId) {
        $.ajax({
            url: '@Url.Action("AddEditAddSalesOrderDetailModalPartial", "SalesOrder")',
            data: { salesOrderDetailId: salesOrderDetailId, orderId: orderId },
            success: function (html) {
                $('#add-edit-order-detail-modal').html(html);


            }
        });
    }
</script>